/* Stylesheet: index.css --- main for www.skeptycal.com */
/* CSS */
/* Color Scheme */
:root {
    --color-background-main: transparent;
    --color-font-main: #fdff83;
    --color-border-glow: #000000;
    --color-social: #ffffdd;
}
/* LinkedIN Badge style                         */
.LI-profile-badge {
    border-radius: 25%;
    position: absolute;
    left: 3%;
    bottom: 3%;
}
.bot_right {
    border-radius: 15%;
    position: absolute;
    right: 3%;
    bottom: 40%;
}
html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Muli', sans-serif;
    font-size: 100%;
    background: #222;
    -webkit-font-smoothing: antialiased;
    /* Background color transition					*/
    /* transition: background 0.2s ease-in-out;		*/
}
h1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    font-size: 2.5em !important;
    letter-spacing: +.2rem;
    text-align: center;
    text-shadow: 0px 0px 20px var(--color-border-glow, black);
    color: var(--color-font-main, white);
}
h2 {
    margin: 10px;
    font-size: 1.6em !important;
    font-weight: 200;
    letter-spacing: -.04rem;
    text-align: center;
    text-shadow: 0px 0px 8px var(--color-border-glow, black);
    color: var(--color-font-main, white);
}
.main {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    text-align: center;
}
.galaxy-wrapper {
    position: relative;
    /* background-image: url("https://www.nasa.gov/sites/default/files/images/672309main_M107_full.jpg"); */
    background-image: url("/images/629319main_PIA13959_full.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 3.2em;
    opacity: 0.1;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: var(--color-social);
    border-color: var(--color-social);
    border-radius: 30px;
    box-shadow: 0px 0px 30px 4px white;
}
.footer:hover {
    opacity: 0.5;
}
@media only screen and (min-width: 700px) {
    h1 {
        margin-bottom: 30px;
    }
    .main {
        top: 10%;
    }
}
